body {
    background-color: #d5e1ef;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
}
.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 15%;
    text-align: center;
    padding: 15px 15px;
    border-radius: 20px;
    
}

.card img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.card h2, p {
    text-align: center;
}

.card p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 0 15px;
    margin-top: 0;
}

.attribution { 
    font-size: 30px;
   text-align: center;
   margin-top: auto;
   padding-top: 10px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

.attribution img {
    width: 25px;
    height: auto;
}

@media (max-width: 1200px) {
    .card {
        width: 35%;
    }
}

@media (max-width: 600px) {
    .card {
        width: 75%;
    }
    .attribution {
        font-size: 20px;
    }
    .attribution img {
        width: 20px;
    }
}

@media (max-width: 375px) {
    .card {
        width: 85%;
    }
    .attribution {
        font-size: 15px;
    }
    .attribution img {
        width: 15px;
    }
}



